#slice_div_1{
	margin-top:45%;
}
#slice_div_2{
	margin-top:22%;
}

.my-btn-center{
	margin-top:5%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-bottom:1%
}


.img {
   background-image: url(http://127.0.0.1/webs/Super_Survey/mysvg.svg ); 
   background-repeat: no-repeat;
   width:100%;
   background-origin: content-box;
   transform-origin: 0px 50px;
   animation: go-left 1s ease forwards,go-up 2s 4s ease forwards;
}

@keyframes go-left{
    0%{}
    100%{transform: translateX(-20%)}
}
@keyframes go-up{
    0%{transform: translateX(-20%)}
    100%{transform: translateY(-25%) translateX(-40%) rotateZ(-70deg); opacity: 0.5;}
}



.half-circle{
   
    background-image: url(http://127.0.0.1/webs/Super_Survey/half-circle.svg); 
    background-repeat: no-repeat;
    width:100%;
    background-origin: content-box;
 
}


