
<div >

    <div id="" class="container col-lg-12">
        <div class="container-fluid col-lg-4  parent_div " >
	        <div  id="slice_div_1" class="container-fluid ">
    			<div>
	    			<div class="half-circle">
						<h4 id="cat">Work Culture</h4>
					</div>
		    	</div>
	        </div>
    </div>


    <div class="container-fluid col-lg-8 parent_div"  >
		<div id="slice_div_2" class="container-fluid ">
			<div ng-repeat="questions in quest.data">
				 <zx-user-info-card class="img" ></zx-User-info-card>
			</div>
		</div>
    </div>
    
    </div><!-- contatiner-->

</div> <!--parent-->