<div class="container col-lg-12 img" " ng-controller="myQuestions">
     <br><br><br>
     <div class="container-fluid col-lg-4">   
        <h4>Q{{questions.number}} : </h4>
        <h5>{{questions.title}}</h5>
        	
     </div>
     <div class="container-fluid col-lg-4">
         <button type="button" onclick="play();" class="btn btn-success my-btn-center">Success</button>
         <button type="button" onclick="play();" class="btn btn-success my-btn-center">Success</button>
         <button type="button" onclick="play();" class="btn btn-success my-btn-center">Success</button>
         <button type="button" onclick="play();" class="btn btn-success my-btn-center">Success</button>
         <button type="button" onclick="play();" class="btn btn-success my-btn-center">Success</button>
     </div>
     <div class="container-fluid-col-lg-2">
       <button type="button" class="container-fluid fa fa-chevron-up fa-3x go-up" onclick="goUp()" style="opacity:0.2;"></button>
         <br>
        <button type="button" class="container-fluid fa fa-chevron-down fa-3x go-down" onclick="goDown()" style="opacity:0.2;"></button>
     
     </div>
     <br><br><br><br><br><br><br><br><br><br><br><br>
</div>