<div >
  <div>Name : {{user.name}}</div>
  <div>HTML URL : {{user.html_url}}</div>

  <div>
    <button ng-click="show(user.avatar_url)">Avatar</button>
  </div>
  <div>
    <img ng-src="{{user_url}}" title="{{user.name}}" />
  </div>
  {{no_tables}}
  <div ng-show="tab">
    <select ng-model="repoSortOrder">
      <option value="-stargazers_count">Star</option>
      <option value="+name">Name</option>
      <option value="+language">Language</option>
    </select>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Star</th>
          <th>Language</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
          <td>{{repo.name}}</td>
          <td>{{repo.stargazers_count |number}}</td>
          <td>{{repo.language}}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>