.my-nav {
  background-color: #80cbc4;
}
.my-crs {
  margin: 2%;
  background-color: #e9e7e9;
}
.my-row {
  margin-top: 2%;
}
.my-pane {
  margin: 2%;
  padding: 10%;
  background-color: #e9e7e9;
}
.carousel-inner .item img {
  height: 360px;
}
