@_teal:#80cbc4;
@_blacktint:#e9e7e9;
@_margin-2:2%;

.my-font{
	

}

.my-nav{
	background-color:@_teal;
}
.my-crs{

	margin:@_margin-2;
	background-color:@_blacktint;
}
.my-row{
    margin-top:@_margin-2;
}

.my-pane{
    margin:@_margin-2;
	padding:10%;
	background-color:@_blacktint;
}